<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<context:component-scan
		base-package="com.controller" />
	<mvc:annotation-driven />
	<mvc:resources location="/resources/" mapping="/resources/**" />
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.tiles3.TilesViewResolver" />
	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles.xml</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/Training" />
		<property name="username" value="training" />
		<property name="password" value="Debora123" />
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>

	<bean id="template" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
	
	<tx:annotation-driven/>
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="userDao" class="com.dao.UserDao">
		<property name="template" ref="template"></property>
	</bean>
	<bean id="courseDao" class="com.dao.CourseDao">
		<property name="template" ref="template"></property>
	</bean>
	<bean id="gradeDao" class="com.dao.GradeDao">
		<property name="template" ref="template"></property>
	</bean>
	<bean id="attendanceDao" class="com.dao.AttendanceDao">
		<property name="template" ref="template"></property>
	</bean>
	<bean id="announcementDao" class="com.dao.AnnouncementDao">
		<property name="template" ref="template"></property>
	</bean>
	<bean id="lessonDao" class="com.dao.LessonDao">
		<property name="template" ref="template"></property>
	</bean>
	<bean id="attachmentDao" class="com.dao.AttachmentDao">
		<property name="template" ref="template"></property>
	</bean>
</beans>